[submodule "Amstelvar"]
	path = fonts/repos/Amstelvar
	url = https://github.com/TypeNetwork/Amstelvar.git
[submodule "opentype.js"]
	path = opentype.js
	url = https://github.com/nodebox/opentype.js.git
[submodule "spectrum"]
	path = spectrum
	url = https://github.com/bgrins/spectrum.git
[submodule "fonts/repos/Roboto-Extremo"]
	path = fonts/repos/Roboto-Extremo
	url = https://github.com/TypeNetwork/Roboto-Extremo.git
