
@font-face {
    font-family: "Amstelvar VP";
    src: url("Amstelvar/fonts/Amstelvar-Roman-VF.ttf") format("opentype");
    font-weight: 100 900;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    border: 0 none transparent;
}

body {
    padding: 1rem;
}

samp {
    display: block;
    font-family: "Amstelvar VP", "Comic Sans MS", cursive;
    font-size: 1in;
    animation-duration: 20s;
    animation-name: opsz14;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes opsz144 {
      0% {font-variation-settings: "opsz" 144, "wght" 400, "wdth" 100; }
     10% {font-variation-settings: "opsz" 144, "wght" 900, "wdth" 100; }
     20% {font-variation-settings: "opsz" 144, "wght" 100, "wdth" 100; }
     30% {font-variation-settings: "opsz" 144, "wght" 400, "wdth" 50; }
     40% {font-variation-settings: "opsz" 144, "wght" 400, "wdth" 125; }
     50% {font-variation-settings: "opsz" 144, "wght" 900, "wdth" 50; }
     60% {font-variation-settings: "opsz" 144, "wght" 900, "wdth" 125; }
     70% {font-variation-settings: "opsz" 144, "wght" 100, "wdth" 50; }
     80% {font-variation-settings: "opsz" 144, "wght" 100, "wdth" 125; }
     90% {font-variation-settings: "opsz" 144, "wght" 100, "wdth" 100; }
    100% {font-variation-settings: "opsz" 144, "wght" 400, "wdth" 100; }
}
@keyframes opsz14 {
      0% {font-variation-settings: "opsz" 14.00001, "wght" 400, "wdth" 100; }
     10% {font-variation-settings: "opsz" 14.00001, "wght" 900, "wdth" 100; }
     20% {font-variation-settings: "opsz" 14.00001, "wght" 100, "wdth" 100; }
     30% {font-variation-settings: "opsz" 14.00001, "wght" 400, "wdth" 50; }
     40% {font-variation-settings: "opsz" 14.00001, "wght" 400, "wdth" 125; }
     50% {font-variation-settings: "opsz" 14.00001, "wght" 900, "wdth" 50; }
     60% {font-variation-settings: "opsz" 14.00001, "wght" 900, "wdth" 125; }
     70% {font-variation-settings: "opsz" 14.00001, "wght" 100, "wdth" 50; }
     80% {font-variation-settings: "opsz" 14.00001, "wght" 100, "wdth" 125; }
     90% {font-variation-settings: "opsz" 14.00001, "wght" 100, "wdth" 100; }
    100% {font-variation-settings: "opsz" 14.00001, "wght" 400, "wdth" 100; }
}
@keyframes opsz8 {
      0% {font-variation-settings: "opsz" 8, "wght" 400, "wdth" 100; }
     10% {font-variation-settings: "opsz" 8, "wght" 900, "wdth" 100; }
     20% {font-variation-settings: "opsz" 8, "wght" 100, "wdth" 100; }
     30% {font-variation-settings: "opsz" 8, "wght" 400, "wdth" 50; }
     40% {font-variation-settings: "opsz" 8, "wght" 400, "wdth" 125; }
     50% {font-variation-settings: "opsz" 8, "wght" 900, "wdth" 50; }
     60% {font-variation-settings: "opsz" 8, "wght" 900, "wdth" 125; }
     70% {font-variation-settings: "opsz" 8, "wght" 100, "wdth" 50; }
     80% {font-variation-settings: "opsz" 8, "wght" 100, "wdth" 125; }
     90% {font-variation-settings: "opsz" 8, "wght" 100, "wdth" 100; }
    100% {font-variation-settings: "opsz" 8, "wght" 400, "wdth" 100; }
}
