
#the-proof.composition p {
	margin-bottom: 1em;
	max-width: 40rem;
	font-weight: normal;
}

#the-proof.composition [data-size] {
	position: relative;
}

#the-proof.composition [data-size]::after {
	color: #09F;
	font-size: 10px;
	font-family: Verdana, sans-serif;
	font-weight: normal;
	text-transform: none;
	position: absolute;
	top: -1.1em;
	left: 0;
	content: attr(data-size);
}

#the-proof.composition .large-container [data-size]::after {
	top: auto;
	bottom: -0.1em;
}

#the-proof.composition input[name="para-select"] {
	position: absolute;
	left: 200vw;
}

#the-proof.composition label {
	font: inherit !important;
	font-variation-settings: inherit !important;
	display: block;
}

#the-proof.composition input:checked + label {
	background: #DDDDFF;
}

#the-proof.composition p.pull-quote {
}

#the-proof.composition p.caption {
	font-size: 75%;
}

#the-proof.composition .large-container .pane label {
	display: block;
	white-space: nowrap;
	font-weight: inherit;
	font-variation-settings: inherit;
}

#the-proof.composition .large-container .pane + .pane {
	margin-top: 0.25in;
}

#the-proof.composition .large-container .regular {
	font-weight: normal;
}

#the-proof.composition .large-container .bold {
	font-weight: bold;
}

@media (min-width: 8in) {
	#the-proof.composition .large-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 0.25in;
	}
	
	#the-proof.composition .large-container .pane {
		overflow: hidden;
	}
	
	#the-proof.composition .large-container .pane + .pane {
		margin-top: 0;
	}
}

#the-proof.composition .large-container h1 {
	font-size: 64pt;
	text-transform: uppercase;
	line-height: 1;
}

#the-proof.composition .large-container h2 {
	font-size: 48pt;
	text-transform: capitalize;
	line-height: 1.1;
}

#the-proof.composition .large-container h3 {
	font-size: 36pt;
	text-transform: uppercase;
	line-height: 1.2;
}

#the-proof.composition .large-container h4 {
	font-size: 24pt;
	text-transform: capitalize;
	line-height: 1.4;
}

#the-proof.composition .large-container h5 {
	font-size: 21pt;
	text-transform: uppercase;
	line-height: 1.4;
}

/*
#the-proof.composition .large-container h6 {
	font-size: 18pt;
	text-transform: capitalize;
}
*/


#the-proof.composition .small-container {
	 display: grid;
	 grid-template-columns: 2fr 1fr;
	 grid-gap: 1rem;
	 grid-auto-flow: row;
	 max-width: 60rem;
}

#the-proof.composition .small-container p.pull-quote {
	grid-column: 1/3;
	font-size: 166%;
	max-width: none;
}

