
#the-proof.grid {
	padding: 1rem;
	word-break: break-all;
	word-wrap: break-word;
	overflow-wrap: break-word;
	font-size: 36pt;
	line-height: 1.5;
	text-align: left;
}

#the-proof.grid div, #the-proof.grid span {
	display: block;
	white-space: nowrap;
	word-break: normal;
	word-wrap: normal;
	overflow-wrap: normal;
}

#the-proof.grid span {
	display: inline-block;
	min-width: 1em;
/* 	font: inherit; */
	text-align: left;
}
