dl { font-size: 24px; } dt { font-family: sans-serif; } dd { text-rendering: optimizeLegibility; }

            @font-face {
             src: url("zenith.eot"); /* IE < 9 */
             src: url("zenith.eot?#") format("embedded-opentype"), /* IE 9 */
                url("zenith.woff2") format("woff2"),
                url("zenith.woff") format("woff"),
                url("zenith.ttf") format("opentype"),
                url("zenith.svg#web") format("svg");
             font-family: "zenith";
             font-style: normal;
             font-weight: normal;
            }
            @font-face {
             src: url("zenith.eot"); /* IE < 9 */
             src: url("zenith.eot?#") format("embedded-opentype"); /* IE 9 */
             font-family: "zenith EOT";
             font-style: normal;
             font-weight: normal;
            }
            @font-face {
             src: url("zenith.woff") format("woff");
             font-family: "zenith WOFF";
             font-style: normal;
             font-weight: normal;
            }
            @font-face {
             src: url("zenith.woff2") format("woff");
             font-family: "zenith WOFF2";
             font-style: normal;
             font-weight: normal;
            }
            @font-face {
             src: url("zenith.ttf") format("opentype");
             font-family: "zenith TTF";
             font-style: normal;
             font-weight: normal;
            }
            @font-face {
             src: url("zenith.svg#web") format("svg");
             font-family: "zenith SVG";
             font-style: normal;
             font-weight: normal;
            }
        